/* Created using Style Master from Western Civilisation CSS1 { 2 2 558 625 } */

BODY {
background-color: #ffffff;
color: #000000;
font-family: Courier;
font-size: 10pt;
}

P {
font-size: 10pt;
}

TH, TD {
font-size: 10pt;
}

LI {
margin: 4px;
}

.form {
background-color: #e0e0ff;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: xx-small;
}

.formtitle {
background-color: #e0e0ff;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: small;
font-weight: bold;
}

table {
}

.mono {
background-color: #ffffff;
color: #0000ff;
font-family: Courier, monospace;
font-size: 10pt;
}

