
BODY {
background-color: #ffffff;
color: #000000;
font-family: Courier;
font-size: 9pt;
}

P {
font-size: 9pt;
}

TH, TD {
font-size: 9pt;
padding-left: 6px;
padding-right: 6px;
padding-top: 2px;
padding-bottom: 3px;
}

LI {
margin: 4px;
}

.form {
background-color: #e0e0ff;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: xx-small;
}

.formtitle {
background-color: #e0e0ff;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: small;
font-weight: bold;
}

TABLE {
}

.mono {
background-color: #ffffff;
color: #000000;
font-family: Courier, monospace;
font-size: 9pt;
}

TR.r0 TD, TD.r0, TH.r0 {
background-color: #ffffff;
}

TR.r1 TD, TD.r1, TH.r1 {
background-color: #e0e0e0;
}

TR.em TD, TD.em, TH.em {
font-weight: bold;
}

