# Include C++ sources/headers for sdists
recursive-include cpp *.cpp
recursive-include include *.h

# Include the pybind11 binding for sdists
include pyoccam/pyoccam_pybind11.cpp

# Package artifacts
include README.md
include LICENSE

# Include packaged flat demo/data files
include pyoccam/*.txt
include pyoccam/*.ipynb

# Include platform libs if present
include pyoccam/*.dll
include pyoccam/*.pyd
include pyoccam/*.so

# Exclude build artifacts
global-exclude __pycache__ *.py[co] .git*
