{% extends "base.html" %}

{% block content %}
<div style="float: left; width: 400px">
    <p>OCCAM is open source. The code is available as
    <a href="https://github.com/occam-ra/occam">a project on GitHub</a>.
    If you are interested in (a) becoming a member of the development team,
    (b) collaborating on research using the OCCAM software, and/or
    (c) being on the OCCAM mailing list, please email
    <a href="mailto:zwick@pdx.edu">Dr. Martin Zwick, Systems Science</a>.</p>

    <p>Occam is a Discrete Multivariate Modeling (DMM) tool based on the methodology of
    Reconstructability Analysis (RA). Its typical usage is for analysis of problems involving large
    numbers of discrete variables. <i>Models</i> are developed which consist of one or more <i>components</i>,
    which are then evaluated for their fit and statistical significance. Occam can search the lattice of
    all possible models, or can do detailed analysis on a specific model.</p>

    <p>In <i>Variable-Based Modeling (VBM)</i>, model components are collections of variables. In
    <i>State-Based Modeling (SBM)</i>, components identify one or more specific states or substates.</p>

    <p>Occam provides a web-based interface, which allows uploading a data file, performing analysis, and viewing
    or downloading results.</p>
</div>

<div style="float: left; width: 400px">
    <ul>
        <li><a href="{{ url_for('occam_main') }}">Run Occam</a> - Interactive analysis</li>
        <li><a href="{{ url_for('batch_form') }}">Batch Jobs</a> - Submit background jobs with email notifications</li>
        <li>For basic operation instructions, please consult the
            <a href="{{ url_for('static', filename='occam-manual.pdf') }}">PDF manual</a>.
        </li>
        <li>Sample data files. You can download these to your computer,
            for use with the web link above.
            <br><a href="{{ url_for('static', filename='examples/search.in') }}">Search Example</a>
            <br><a href="{{ url_for('static', filename='examples/fit.in') }}">Fit Example</a>
        </li>
        <li>Links:
            <br><a href="https://pdxscholar.library.pdx.edu/sysc_fac/159/">OCCAM Software & Documentation (PDXScholar)</a>
            <br><a href="https://www.pdx.edu/sysc/">Systems Science Graduate Program</a>
            <br><a href="https://github.com/occam-ra/occam">OCCAM on GitHub</a>
        </li>
        <li>Contacts:
            <br><a href="mailto:zwick@pdx.edu">Dr. Martin Zwick, Systems Science</a>
        </li>
    </ul>
</div>
{% endblock %}
